/// Gradients
/// Taken from https://www.sitepoint.com/building-linear-gradient-mixin-sass/

@mixin pmj-linear-gradient($direction, $colors...)
{
	/// Direction has been omitted and happens to be a color-stop
	@if is-direction($direction) == false
	{
		$colors: $direction, $colors;
		$direction: 180deg;
	}
	
	background-image: nth(nth($colors, 1), 1);
	background-image: -webkit-linear-gradient(legacy-direction($direction), $colors);
	background-image: linear-gradient($direction, $colors);
}

@function is-direction($value)
{
	$is-keyword: index((to top, to top right, to right top, to right, to bottom right, to right bottom, to bottom, to bottom left, to left bottom, to left, to left top, to top left), $value);
	$is-angle: type-of($value) == 'number' and index('deg' 'grad' 'turn' 'rad', unit($value));
	
	@return $is-keyword or $is-angle;
}

@function legacy-direction($value)
{
	@if is-direction($value) == false
	{
		@error "Cannot convert `#{$value}` to legacy syntax because it doesn't seem to be a direction.";
	}
	
	$conversion-map: (
		to top          : bottom,
		to top right    : bottom left,
		to right top    : left bottom,
		to right        : left,
		to bottom right : top left,
		to right bottom : left top,
		to bottom       : top,
		to bottom left  : top right,
		to left bottom  : right top,
		to left         : right,
		to left top     : right bottom,
		to top left     : bottom right
	);
	
	@if map-has-key($conversion-map, $value)
	{
		@return map-get($conversion-map, $value);
	}
	
	@return 90deg - $value;
}